<!--
  templateType: none
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8">
    {% if page_meta.html_title %}<title>{{ page_meta.html_title }}</title>{% endif %}
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    {{ require_css(get_asset_url("../assets/css/styles.css")) }}
    {{ require_css(get_asset_url("../../css/main.css")) }}
    
		{{ require_css('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css') }}
    {# This is intended to be used if a template requires template specific style sheets #}
    {#{% if template_css %}
      {{ require_css(get_asset_url(template_css)) }}
    {% endif %}#}
{#  #}
    {# To see a full list of what is included via standard_header_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ require_js(get_asset_url("../../unacast-2022.js")) }}
{{ standard_header_includes }}
{{ require_css(get_public_template_url("../../unacast-2022.css")) }}
    <link rel="stylesheet" href="https://use.typekit.net/nvi3hoq.css">
  </head>
  <body>
    <div class="body-wrapper {{ builtin_body_classes }}">
      

			<div id="">
      {% block body %}
      {% endblock body %}
			</div>
			
      
    </div>
		
		{% if not site_settings.include_jquery %}
			{{ require_js("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js") }}
			{{ require_js("https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.3.1/jquery-migrate.min.js") }}
		{% endif %}
		{% require_js %}

		{% end_require_js %}
    {{ require_js(get_asset_url("../js/main.js"), { position: 'footer', defer: true }) }}
    {# To see a full list of what is included via standard_footer_includes please reference this article: https://developers.hubspot.com/docs/cms/hubl/variables#required-page-template-variables #}
    {{ standard_footer_includes }}
  </body>
</html>
